<div class="bg-neutral-950">
  <div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance sm:text-5xl text-white">Ready to dive in?</h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">

        <a
          href="/posts/manage-macos-packages-with-homebrew"
          class="inline-block rounded-lg bg-gradient-to-l from-indigo-500 to-purple-600 px-8 py-4 text-xl font-bold tracking-wider text-white transition-all duration-300 ease-in-out hover:from-indigo-700 hover:to-purple-800"
          data-astro-prefetch>
          Start Lesson One
        </a>
      </div>
    </div>
  </div>
</div>
