---
import clsx from 'clsx'
import { Image } from 'astro:assets'
import { GuideIcon } from '../icons/index.astro'
import Points from '../Points.astro'
import Wrapper from '../Wrapper.astro'
interface Props {
  overlapOnHeader?: boolean
}
import heroAlt from '../../assets/guides/dev-workflow-intro/dev-workflow-intro-hero-alt.png'
const { overlapOnHeader } = Astro.props
---

<div
  class={clsx(
    "relative isolate overflow-hidden border-t border-slate-900 bg-neutral-900 px-6 pt-20 sm:pt-24 lg:overflow-visible lg:px-0",
    overlapOnHeader && "-mt-[104px] "
  )}
>

  <Wrapper>
    <section class="flex flex-col gap-8 py-12 md:flex-row-reverse md:py-24">
      <div class="w-full">
        <Image
          class="aspect-video rounded-3xl bg-neutral-900 shadow-xl md:mt-12"
          src={heroAlt}
          width="1000"
          height="562.5"
          alt="man sitting at desk in front of a landscape of rivers leading to a mountain range"
          loading="eager"
          transition:name={`guide-dev-workflow-intro-thumb`}
        />
      </div>

      <div class="max-w-md flex-none">
        <GuideIcon class="mb-4 h-12 md:h-16" />
        <h1
          class="mb-4 text-3xl font-bold tracking-tight text-neutral-100 sm:text-4xl"
        >
          Dev Workflow Intro
        </h1>

        <p class="mb-12 text-xl leading-8 text-neutral-300">
          Your guide to creating a powerful and intuitive <br
            class="hidden md:block"
          />development workflow in the terminal.
        </p>

        <p>
          The terminal is a powerful tool for developers, but it can be
          overwhelming to know where to start. This guide will help you create a
          powerful development environment in the terminal. Here are some of the
          things you'll learn.
        </p>

        <Points
          points={[
            "Install packages and keep them up-to-date",
            "Design a minimalist, distraction-free, user-interface",
            "Use familiar keyboard shortcuts",
            "Manage multiple projects with ease",
            "Integrate with Git and GitHub",
          ]}
        />

        <a
          href="/posts/manage-macos-packages-with-homebrew"
          class={clsx([
            "inline-block rounded-lg font-bold tracking-wider",
            "mt-12 px-12 py-4 text-xl text-white",
            "bg-gradient-to-l from-indigo-500 to-purple-600",
            "shadow-lg hover:shadow-xl",
            "hover:from-indigo-700 hover:to-purple-800",
            "transition-all duration-300 ease-in-out",
          ])}
        >
          Get Started
        </a>
      </div>
    </section>
  </Wrapper>
</div>
