---
import type { CollectionEntry } from "astro:content";
import PostCtaInput from "./PostCtaInput.tsx";
import RssIcon from "../icons/RssIcon.astro";
interface Props {
  category: CollectionEntry<"posts">["data"]["category"]["slug"];
}

const { category } = Astro.props;
---

<div
  class="not-prose relative isolate overflow-hidden rounded-3xl bg-gray-900 p-4 shadow-2xl sm:p-8 lg:flex lg:gap-x-20"
>
  <svg
    viewBox="0 0 1024 1024"
    class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
    aria-hidden="true"
  >
    <circle
      cx="512"
      cy="512"
      r="512"
      fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
      fill-opacity="0.7"></circle>
    <defs>
      <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
        <stop stop-color="#7775D6"></stop>
        <stop offset="1" stop-color="#E935C1"></stop>
      </radialGradient>
    </defs>
  </svg>

  <div>
    <h2 class="text-2xl font-bold tracking-tight text-white sm:text-4xl">
      Sign-Up for New Posts
    </h2>
    <p class="mt-2 leading-tight text-gray-300 sm:mt-6 sm:text-lg">
      Stay in the loop and get the latest blog posts about {category} sent to your
      inbox.
    </p>
    <PostCtaInput category={category} client:visible />
    <a href="/rss.xml" class="mt-3 flex items-center gap-1">
      <p class="text-white">
        Or use the{" "}
      </p>
      <div
        class="flex items-center gap-1 rounded-full bg-[#260e02] px-3 py-1 text-[#F26522] text-white"
      >
        <RssIcon class="h-4 w-4" />
        <span>RSS Feed</span>
      </div>
    </a>
  </div>
</div>
