---
import { Image } from 'astro:assets'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config'
import Wrapper from '~/components/Wrapper.astro'
---

<section class="flex flex-col items-center justify-center gap-8 sm:flex-row">
  <Image
    src="/joshmedeski-profile-circle.png"
    alt="Josh Medeski"
    width="150"
    height="150"
  />
  <div class="text-center sm:text-left">
    <h2
      class="mb-2 text-3xl font-bold tracking-tight text-neutral-900 sm:text-4xl md:text-6xl"
    >
      {SITE_TITLE}
    </h2>
    <p class="md:text-md mb-2 max-w-md text-xl leading-tight">
      {SITE_DESCRIPTION}
    </p>
    <a href="/about" class="text-xl text-primary-500 underline">Learn more</a>
  </div>
</section>
