---
import { Image } from 'astro:assets'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config'
import SocialLinks from '../SocialLinks.astro'
---

<section class="flex flex-col items-center justify-center gap-8 sm:flex-row">
  <Image
    src="/joshmedeski-profile-circle.png"
    alt="Josh Medeski"
    width="200"
    height="200"
  />

  <div class="text-center sm:text-left">
    <h2
      class="mb-2 text-3xl font-bold tracking-tight text-neutral-300 sm:text-4xl md:text-6xl"
    >
      {SITE_TITLE}
    </h2>
    <p class="md:text-md mb-2 max-w-md text-xl">
      {SITE_DESCRIPTION}
    </p>

    <div class="mt-4">
      <SocialLinks iconSize="h-12" />
    </div>
  </div>
</section>
