---
import Layout from "../components/Layout.astro";
// TODO: redirect `/publications` to `/appearances`
---

<Layout title="Appearances">
  <main>
    <div class="mx-auto max-w-screen-lg">
      <h1 class="font-extrabold text-3xl">Appearances</h1>
      <p>Coming soon</p>
    </div>
  </main>
</Layout>
