---
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";

const guides = await getCollection("guides", ({ data: { draft } }) => !draft);
const sortedGuides = guides.sort(
  ({ data: a }, { data: b }) => b.pubDate.getTime() - a.pubDate.getTime()
);
---

<Layout title="Guides" themeColor="#f2f5f9">
  <main>
    <section class="bg-neutral-100 px-4 py-12">
      <div class="mx-auto max-w-screen-xl">
        <h1 class="mb-2 text-3xl font-bold">Guides</h1>
        <section class="">
          {
            sortedGuides.map((guide) => (
              <a href={`/guides/${guide.slug}`}>
                <h2 class="mb-4 text-2xl font-bold">{guide.data.title}</h2>
                <p>{guide.data.description}</p>
              </a>
            ))
          }
        </section>
      </div>
    </section>
  </main>
</Layout>
