---
import Layout from "../components/Layout.astro";
import { getCollection } from "astro:content";
import Wrapper from "~/components/Wrapper.astro";
import PageTitle from "~/components/PageTitle.astro";

const guides = await getCollection("guides");
const sortedGuides = guides.sort(
  ({ data: a }, { data: b }) => b.pubDate.getTime() - a.pubDate.getTime()
);
---

<Layout title="Guides" themeColor="#ffffff">
  <Wrapper>
    <PageTitle>Guides</PageTitle>
    <main>
      <section class="px-4 py-12">
        <div class="mx-auto max-w-screen-xl">
          <section class="">
            {
              sortedGuides.map((guide) => (
                <a href={`/guides/${guide.slug}`}>
                  <h2 class="mb-4 text-2xl font-bold">{guide.data.title}</h2>
                  <p>{guide.data.description}</p>
                </a>
              ))
            }
          </section>
        </div>
      </section>
    </main>
  </Wrapper>
</Layout>
