---
import PlanarLightTunnel from '~/components/r3f/PlanarLightTunnel.tsx'
import Projects from '~/components/sections/Projects.astro'
import StaticImageGrid from '~/components/sections/StaticImageGrid.astro'
import Layout from '../components/Layout.astro'
import RecentPosts from '../components/RecentPosts.astro'
import LiveStreaming from '../components/sections/LiveStreaming.astro'
---

<Layout
  title="Home"
  description="Empowering developers and creatives to build and grow with intention, by sharing insights and tools."
>
  <PlanarLightTunnel client:only="react">
    <div slot="fallback">Loading</div>
  </PlanarLightTunnel>

  <StaticImageGrid />
  <LiveStreaming />
  <Projects />
  <RecentPosts />
</Layout>
