---
import CalltoAction from "../components/CallToAction.jsx";
import Categories from "../components/Categories.astro";
import Layout from "../components/Layout.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<Layout>
  <RecentPosts />
  <Categories />
  <section class="mb-12 mt-6">
    <CalltoAction client:visible />
  </section>
</Layout>
