---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostCard from "../components/PostCard.astro";
import { SITE_DESCRIPTION } from "../config";
const isProd = import.meta.env.PROD;
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./posts/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter(({ frontmatter: { draft } }) => (isProd ? !draft : true));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Posts" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="bg-neutral-100 px-4 py-12">
        <div class="mx-auto max-w-screen-lg">
          <h2 class="font-bold text-3xl mb-4">All Posts</h2>
          <section class="grid md:grid-cols-3 gap-4">
            {posts.map((post) => <PostCard {...post} />)}
          </section>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
