---
import Layout from "../components/Layout.astro";
import PostCard from "../components/post/PostCard.astro";
import type { Post } from "../models/Post.astro";
const posts = (await Astro.glob<Post>("../pages/posts/*.mdx"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter(({ frontmatter: { draft } }) => !draft);
---

<Layout title="Posts" themeColor="#f2f5f9">
  <main>
    <section class="bg-neutral-100 px-4 py-12">
      <div class="mx-auto max-w-screen-2xl">
        <h2 class="font-bold text-3xl mb-4">All Posts</h2>
        <section
          class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-6"
        >
          {
            posts.map((post) => (
              <div class="mb-10">
                <PostCard {...post} />
              </div>
            ))
          }
        </section>
      </div>
    </section>
  </main>
</Layout>
