---
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import Wrapper from "../components/Wrapper.astro";
import Search from "../components/Search.astro";
---

<Layout title="Search">
  <Wrapper>
    <PageTitle>Search</PageTitle>
    <div class="min-h-[700px]">
      <Search />
    </div>
  </Wrapper>
</Layout>
