---
import { getCollection } from 'astro:content'
import Layout from '../components/Layout.astro'
import PageTitle from '../components/PageTitle.astro'
import Wrapper from '../components/Wrapper.astro'
import UseCard from '~/components/uses/UseCard.astro'

const areas = await getCollection('areas')
const uses = await getCollection('uses')
---

<Layout title="Uses">
  <Wrapper>
    <PageTitle>Uses</PageTitle>
    <div class="mb-12 space-y-8 sm:space-y-24">
      {
        areas.map((area) => (
          <section>
            <h2 class="mb-4 text-4xl font-bold">{area.data.title}</h2>
            <div class="grid grid-cols-1 items-stretch gap-4 sm:grid-cols-2 sm:gap-8 md:grid-cols-3 lg:grid-cols-4">
              {uses
                .filter((use) => use.data.area.id === area.id)
                .sort((a, b) => 
                  a.data.title.localeCompare(b.data.title)
                )
                .map((use) => (
                  <UseCard use={use} />
                ))}
            </div>
          </section>
        ))
      }
    </div>
  </Wrapper>
</Layout>
