---
import { categories } from "../models/Category.astro";
import Category from "./Category.astro";
---

<section class="bg-white px-4 py-12">
  <div class="mx-auto max-w-screen-2xl">
    <div class="mb-6">
      <h2 class="text-center text-4xl font-bold leading-none">Categories</h2>
      <p class="text-center text-lg">These are a few of my favorite things.</p>
    </div>
    <section class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        categories.map((cat) => (
          <Category {...cat}>
            <cat.icon />
          </Category>
        ))
      }
    </section>
  </div>
</section>
