---
import type { getEntryBySlug } from "astro:content";
import clsx from "clsx";
import CategoryIcon from "./CategoryIcon.astro";

const {
  category: {
    slug,
    data: { style, title, desc },
  },
} = Astro.props;
---

<a
  href={`/categories/${slug}`}
  class={clsx("shadow-sm rounded-lg p-3 flex items-center", style?.container)}
>
  <CategoryIcon slug={slug} class="mr-3 w-8" />
  <div>
    <h3
      class={clsx(
        "font-extrabold leading-none mb-1 text-lg tracking-wide",
        style.title
      )}
    >
      {title}
    </h3>
    <p
      class={clsx("text-sm font-medium leading-none tracking-wide", style.desc)}
    >
      {desc}
    </p>
  </div>
</a>
