---
import { GitHubIcon } from "./icons/index.astro";
import { Octokit } from "octokit";
import { PrismaClient } from "@prisma/client";

// TODO: optimize prisma by moving it to some global
const prisma = new PrismaClient();

interface Props {
  repo: string;
}
const { repo } = Astro.props;

async function getRepoData(repo: string) {
  const octokit = new Octokit({ auth: process.env.GH_TOKEN });
  const repoSplit = repo.split("/");
  const { data } = await octokit.rest.repos.get({
    owner: repoSplit[0],
    repo: repoSplit[1],
  });
  return data;
}

async function addRepoToCache(repo: string) {
  const data = await getRepoData(repo);
  const dataToSave = {
    fullName: data.full_name,
    ...(data.description ? { description: data.description } : {}),
    stargazersCount: data.stargazers_count,
    url: data.html_url,
  };
  return await prisma.ghRepo.upsert({
    where: { fullName: data.full_name },
    update: dataToSave,
    create: dataToSave,
  });
}

async function getRepo(repo: string) {
  const cachedRepo = await prisma.ghRepo.findFirst({
    where: { fullName: repo },
  });

  if (
    !cachedRepo ||
    cachedRepo.updatedAt <
      new Date(new Date().getTime() - 1000 * 60 * 60 * 24 * 7)
  ) {
    try {
      return await addRepoToCache(repo);
    } catch (e) {
      throw new Error(e.response.url || e);
    }
  } else {
    return cachedRepo;
  }
}

const { fullName, description, stargazersCount, url } = await getRepo(repo);

function prettyStargazersCount(count: number) {
  return count.toLocaleString();
}
---

<a href={url} target="_blank" class="not-prose mb-4 block no-underline">
  <section
    class="flex flex-col gap-2 rounded bg-gh-light p-2 sm:flex-row sm:gap-4 sm:p-4"
  >
    <div>
      <div class="flex items-center gap-2">
        <GitHubIcon class="h-6 w-6 text-gh-dark" />
        <strong class="sm:text-lg">{fullName}</strong>
      </div>
      <p class="sm:text-md text-sm leading-none text-gh-dark">{description}</p>
      <div class="text-gh-dark">
        🔭 {prettyStargazersCount(stargazersCount)}
      </div>
    </div>
  </section>
</a>
