---
import { GitHubIcon } from './icons/index.astro'
import ghRepos from '../data/gh-repos.json'

interface Props {
  repo: string
}
const { repo } = Astro.props

const data = ghRepos[repo as keyof typeof ghRepos]
const fullName = data?.fullName ?? repo
const description = data?.description ?? null
const url = data?.url ?? `https://github.com/${repo}`
---

<a href={url} target="_blank" class="not-prose mb-4 block no-underline text-gh-light">
  <section
    class="flex flex-col gap-2 rounded bg-gh-dark p-2 sm:flex-row sm:gap-4 sm:p-4"
  >
    <div>
      <div class="flex items-center gap-2">
        <GitHubIcon class="h-6 w-6" />
        <strong class="sm:text-lg">{fullName}</strong>
      </div>
      {description && (
        <p class="sm:text-md text-sm leading-none text-white">{description}</p>
      )}
    </div>
  </section>
</a>
