---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a
  rel="me"
  href={href}
  class:list={[className, "", { "font-bold": isActive }]}
  data-astro-prefetch
  {...props}
>
  <slot />
</a>
