<section class="mx-auto max-w-screen-xl px-6 py-12">
  <div class="flex flex-col items-center gap-10 md:flex-row-reverse">
    <div class="col-span-1 mb-6 md:mb-0">
      <section class="text-center">
        <button type="button" class="block font-bold"
          ><div
            style="display: inline-block; max-width: 100%; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;"
          >
            <div
              style="box-sizing: border-box; display: block; max-width: 100%;"
            >
              <img
                alt=""
                aria-hidden="true"
                role="presentation"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUwIiBoZWlnaHQ9IjQxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="
                style="max-width: 100%; display: block; margin: 0px; border: none; padding: 0px;"
              />
            </div>
          </div><p>
            Come to the <span
              class="dark:from-secondary-300 from-secondary-700 bg-gradient-to-bl to-primary-700 bg-clip-text text-transparent dark:bg-gradient-to-br dark:to-primary-300 dark:bg-clip-text dark:text-transparent"
              >dark</span
            > side
          </p>
        </button>
      </section>
    </div><div class="col-span-2 max-w-xl sm:max-w-3xl">
      <h1 class="mb-4 text-3xl font-bold md:text-5xl">
        I teach <span
          class="bg-gradient-to-bl from-red-700 to-indigo-700 bg-clip-text text-transparent dark:bg-gradient-to-br dark:from-red-300 dark:to-indigo-300 dark:bg-clip-text dark:text-transparent"
        >
          web development
        </span>
         and
        <span
          class="bg-gradient-to-bl from-green-700 to-blue-700 bg-clip-text text-transparent dark:bg-gradient-to-br dark:from-blue-300 dark:to-green-300 dark:bg-clip-text dark:text-transparent"
        >
          productivity
        </span>
      </h1><p class="mx-auto mb-10 text-lg">
        The<!-- -->
        <strong
          ><span
            class="dark:from-secondary-300 from-secondary-700 bg-gradient-to-bl to-primary-700 bg-clip-text text-transparent dark:bg-gradient-to-br dark:to-primary-300 dark:bg-clip-text dark:text-transparent"
            >weekly review</span
          >
        </strong>
        <!-- -->is a place to recommend music and movies, as well as what I'm up
        to as a software developer and indie entrepreneur.
      </p><a
        href="https://www.getrevue.co/profile/joshmedeski"
        class="transition-slowest ease to-secondary-700 dark:to-secondary-300 group relative inline-flex w-full items-stretch overflow-hidden rounded-md bg-primary-700 bg-gradient-to-r from-primary-700 font-bold tracking-wider text-white shadow-lg shadow-gray-200 dark:bg-primary-200 dark:from-primary-300 dark:text-black dark:shadow-gray-800 sm:w-auto"
        ><span
          class="transition-width absolute -right-2 -top-4 h-16 w-16 -skew-x-6 transform overflow-hidden bg-black/20 duration-300 ease-in-out group-hover:right-0 group-hover:w-full group-hover:skew-x-0 dark:bg-white/20"
        ></span><span class="wf z-20 flex-grow px-5 py-3 text-center"
          >Subscribe Now</span
        ><span class="z-10 flex flex-col justify-center px-5 py-3"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-5 w-5 flex-initial"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
