<section class="max-w-screen-xl mx-auto py-12 px-6">
  <div class="flex flex-col gap-10 md:flex-row-reverse items-center">
    <div class="mb-6 md:mb-0 col-span-1">
      <section class="text-center">
        <button type="button" class="font-bold block"
          ><div
            style="display: inline-block; max-width: 100%; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;"
          >
            <div
              style="box-sizing: border-box; display: block; max-width: 100%;"
            >
              <img
                alt=""
                aria-hidden="true"
                role="presentation"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTUwIiBoZWlnaHQ9IjQxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4="
                style="max-width: 100%; display: block; margin: 0px; border: none; padding: 0px;"
              />
            </div>

            <
          </div><p>
            Come to the <span
              class="text-transparent bg-clip-text bg-gradient-to-bl dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-br dark:from-secondary-300 dark:to-primary-300 from-secondary-700 to-primary-700"
              >dark</span
            > side
          </p>
        </button>
      </section>
    </div><div class="col-span-2 max-w-xl sm:max-w-3xl">
      <h1 class="text-3xl md:text-5xl font-bold mb-4">
        I teach <span
          class="text-transparent bg-clip-text bg-gradient-to-bl dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-br dark:from-red-300 dark:to-indigo-300 from-red-700 to-indigo-700"
        >
          web development
        </span>
        and
<span
          class="text-transparent bg-clip-text bg-gradient-to-bl dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-br dark:from-blue-300 dark:to-green-300 from-green-700 to-blue-700"
        >
          productivity
        </span>

      </h1><p class="mx-auto text-lg mb-10">
        The<!-- -->
        <strong
          ><span
            class="text-transparent bg-clip-text bg-gradient-to-bl dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-br dark:from-secondary-300 dark:to-primary-300 from-secondary-700 to-primary-700"
            >weekly review</span
          >
        </strong>
        <!-- -->is a place to recommend music and movies, as well as what I'm up
        to as a software developer and indie entrepreneur.
      </p><a
        href="https://www.getrevue.co/profile/joshmedeski"
        class="overflow-hidden w-full sm:w-auto rounded-md inline-flex items-stretch relative group transition-slowest ease shadow-lg shadow-gray-200 dark:shadow-gray-800 font-bold tracking-wider dark:bg-primary-200 bg-primary-700 bg-gradient-to-r dark:text-black text-white from-primary-700 to-secondary-700 dark:from-primary-300 dark:to-secondary-300"
        ><span
          class="dark:bg-white dark:bg-opacity-20 bg-black bg-opacity-20 -top-4 -right-2 absolute overflow-hidden w-16 h-16 group-hover:w-full transition-width duration-300 ease-in-out transform group-hover:right-0 -skew-x-6 group-hover:skew-x-0"
        ></span><span class="z-20 flex-grow px-5 py-3 text-center wf"
          >Subscribe Now</span
        ><span class="z-10 flex flex-col justify-center px-5 py-3"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="flex-initial w-5 h-5"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
