---
import { SITE_TITLE } from "../config";
import HeaderLink from "./HeaderLink.astro";
import Wrapper from "./Wrapper.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import YouTubeIcon from "./icons/YouTubeIcon.astro";

export interface Props {
  themeColor?: string;
}
const props = Astro.props;
---

<div style={props.themeColor && `background-color: ${props.themeColor}`}>
  <Wrapper>
    <header class="grid content-center rounded-lg py-4 md:grid-cols-5">
      <a href="/" class="mt-1 inline text-2xl font-bold leading-normal"
        >{SITE_TITLE}</a
      >

      <nav
        class="col-span-3 hidden w-full items-center justify-center space-x-8 text-lg md:flex"
      >
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/videos">Videos</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </nav>

      <div class="hidden items-center justify-end gap-4 lg:flex">
        <HeaderLink href="https://www.youtube.com/joshmedeski" target="_blank">
          <YouTubeIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitter.com/joshmedeski" target="_blank">
          <TwitterIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://github.com/joshmedeski" target="_blank">
          <GitHubIcon class="w-6" />
        </HeaderLink>
        <a
          href="/guides/dev-workflow-intro"
          class="inline-block rounded-lg bg-gradient-to-l from-indigo-500 to-purple-600 px-4 py-2 font-bold tracking-wider text-white transition-all duration-300 ease-in-out hover:from-indigo-700 hover:to-purple-800"
          >Free Guide</a
        >
      </div>
    </header>
  </Wrapper>
</div>
