---
import { SITE_TITLE } from "../config";
import HeaderLink from "./HeaderLink.astro";
import clsx from "clsx";

export interface Props {
  themeColor?: string;
}
const props = Astro.props;
---

<div style={`background-color: ${props.themeColor || "white"}`}>
  <section class="mx-auto w-full max-w-screen-xl px-4">
    <header
      class={clsx("flex items-center justify-between py-2 place-items-start")}
    >
      <h2 class="m-0">
        <a href="/" class="flex items-center">
          <img
            src="/images/josh-medeski-memoji.png"
            alt="Josh Medeski Memoji"
            class="mr-2 aspect-square h-[40px] w-auto"
          />
          <span class="text-2xl font-bold">{SITE_TITLE}</span>
        </a>
      </h2>
      <div>
        <a href="#menu" class="block sm:hidden">Menu</a>
        <nav class="hidden space-x-8 sm:flex">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/posts">Posts</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
        </nav>
      </div>
    </header>
  </section>
</div>
