---
import '../styles/global.css'
import Footer from './LayoutFooter.astro'
import Head from './LayoutHead.astro'
import type { Props as HeadProps } from './LayoutHead.astro'
import Header from './LayoutHeader.astro'
import clsx from 'clsx'

interface Props extends HeadProps {
  hideCta?: boolean
  overlapHeader?: boolean
}
const props = Astro.props
---

<script is:inline>
  const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
	document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
    document.documentElement.setAttribute('data-theme', event.matches ? 'dark' : 'light');
  });
</script>

<!DOCTYPE html>
<html lang="en">
  <Head {...props} />
  <body class="relative flex min-h-screen flex-col justify-between bg-white text-black">
    <header class="z-20">
      <Header themeColor={props.themeColor} />
    </header>

    <main class={clsx(props.overlapHeader && `-mt-[104px] z-10`)}>
      <slot />
    </main>
    <Footer hideCta={props.hideCta} />
  </body>
</html>
