---
import { SITE_TITLE } from "../config";
import Category from "./Category.astro";
import HeaderLink from "./HeaderLink.astro";
import { getCollection } from "astro:content";
import Wrapper from "./Wrapper.astro";
import Hero from "./dev-workflow-intro-guide/Hero.astro";
import {
  DiscordIcon,
  GitHubIcon,
  TwitchIcon,
  TwitterIcon,
  YouTubeIcon,
} from "./icons/index.astro";

const today = new Date();
interface Props {
  hideCta?: boolean;
}
const { hideCta } = Astro.props;
const categories = await getCollection("categories");
---

{hideCta ? null : <Hero />}

<footer class="bg-white pt-16" aria-labelledby="footer-heading" id="menu">
  <h2 class="sr-only">Footer</h2>
  <Wrapper>
    <div class="gap-4 lg:grid lg:grid-cols-6 lg:gap-6">
      <div class="space-y-6 lg:col-span-2">
        <div>
          <a href="/" class="flex items-center">
            <span class="text-2xl font-bold">{SITE_TITLE}</span>
          </a>
          <p class="text-base text-gray-500">
            Empowering developers and creatives to build and grow with
            intention, by sharing insights and tools.
          </p>
        </div>

        <nav class="mb-8 flex flex-wrap items-center gap-6 sm:hidden">
          <HeaderLink href="/posts">Posts</HeaderLink>
          <HeaderLink href="/videos">Videos</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
          <HeaderLink href="/uses">Uses</HeaderLink>
          <HeaderLink href="/search" data-astro-reload>Search</HeaderLink>
        </nav>

        <a
          href="/guides/dev-workflow-intro"
          class="inline-block rounded-lg bg-gradient-to-l from-indigo-500 to-purple-600 px-4 py-2 text-sm font-bold tracking-wider text-white transition-all duration-300 ease-in-out hover:from-indigo-700 hover:to-purple-800"
          >Free Guide</a
        >

        <div>
          <h3 class="mb-1 font-bold">Find me online</h3>
          <div class="flex flex-wrap items-center gap-6">
            <img
              src="/joshmedeski-profile-circle.png"
              alt="Josh's profile"
              class="w-10"
            />

            <HeaderLink
              href="https://www.youtube.com/joshmedeski"
              target="_blank"
            >
              <YouTubeIcon class="w-10" />
            </HeaderLink>
            <HeaderLink href="https://discord.gg/RQnZH7fFse" target="_blank">
              <DiscordIcon class="w-10" />
            </HeaderLink>
            <HeaderLink href="https://twitter.com/joshmedeski" target="_blank">
              <TwitterIcon class="w-10" />
            </HeaderLink>
            <HeaderLink href="https://twitch.com/joshmedeski" target="_blank">
              <TwitchIcon class="w-10" />
            </HeaderLink>
            <HeaderLink href="https://github.com/joshmedeski" target="_blank">
              <GitHubIcon class="w-10" />
            </HeaderLink>
          </div>
        </div>
      </div>

      <div class="mt-12 md:mt-0 lg:col-span-4">
        <section class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3">
          {categories.map((category) => <Category category={category} />)}
        </section>
      </div>
    </div>
    <div
      class="mx-auto mb-12 mt-10 max-w-screen-xl border-t border-gray-200 pt-8 text-center"
    >
      <p class="text-base text-gray-400 xl:text-center">
        &copy; {today.getFullYear()}{" "}
        {SITE_TITLE}. All rights reserved.
      </p>
    </div>
  </Wrapper>
</footer>
