---
import { SITE_TITLE } from '../config'
import HeaderLink from './HeaderLink.astro'
import {
  DiscordIcon,
  GitHubIcon,
  MenuIcon,
  TwitterIcon,
  YouTubeIcon,
  RssIcon,
  TwitchIcon,
} from './icons/index.astro'
import SearchButton from './SearchButton.astro'
import Wrapper from './Wrapper.astro'

export interface Props {
  themeColor?: string
}
const props = Astro.props
---

<div class={`${props.themeColor && props.themeColor}`}>
  <Wrapper>
    <header class="grid content-center rounded-lg py-4 md:grid-cols-7">
      <div class="align-center col-span-2 flex items-center justify-between">
        <a
          href="/"
          class="mt-1 inline text-2xl font-bold leading-normal"
          data-astro-prefetch
        >
          {SITE_TITLE}
        </a>
        <a href="#menu" class="mt-1 flex items-center md:hidden">
          <MenuIcon class="mr-2 h-6 w-6 text-neutral-800" />
          <span>Menu</span>
        </a>
      </div>

      <nav
        class="col-span-3 hidden w-full items-center justify-center space-x-8 text-lg md:flex"
      >
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/guides">Guides</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/now">Now</HeaderLink>
      </nav>

      <div class="col-span-2 hidden items-center justify-end md:flex">
        <SearchButton />
      </div>
    </header>
  </Wrapper>
</div>
