---
import { SITE_TITLE } from '../config'
import HeaderLink from './HeaderLink.astro'
import {
  DiscordIcon,
  GitHubIcon,
  MenuIcon,
  TwitterIcon,
  YouTubeIcon,
  RssIcon,
  TwitchIcon,
} from './icons/index.astro'
import Wrapper from './Wrapper.astro'

export interface Props {
  themeColor?: string
}
const props = Astro.props
---

<div style={props.themeColor && `background-color: ${props.themeColor}`}>
  <Wrapper>
    <header class="grid content-center rounded-lg py-4 md:grid-cols-7">
      <div class="align-center col-span-2 flex items-center justify-between">
        <a
          href="/"
          class="mt-1 inline text-2xl font-bold leading-normal"
          data-astro-prefetch
        >
          {SITE_TITLE}
        </a>
        <a href="#menu" class="mt-1 flex items-center md:hidden">
          <MenuIcon class="mr-2 h-6 w-6 text-gray-800" />
          <span>Menu</span>
        </a>
      </div>

      <nav
        class="col-span-3 hidden w-full items-center justify-center space-x-8 text-lg md:flex"
      >
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/videos">Videos</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/uses">Uses</HeaderLink>
        <HeaderLink href="/search">Search</HeaderLink>
      </nav>

      <div class="col-span-2 hidden items-center justify-end gap-4 md:flex">
        <HeaderLink href="https://www.youtube.com/joshmedeski" target="_blank">
          <YouTubeIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://discord.gg/RQnZH7fFse" target="_blank">
          <DiscordIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitter.com/joshmedeski" target="_blank">
          <TwitterIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitch.com/joshmedeski" target="_blank">
          <TwitchIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://github.com/joshmedeski" target="_blank">
          <GitHubIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="/rss.xml" target="_blank">
          <RssIcon class="w-6" />
        </HeaderLink>
        <a
          href="/guides/dev-workflow-intro"
          class="inline-block text-nowrap rounded-lg bg-gradient-to-l from-indigo-500 to-purple-600 px-4 py-2 font-bold tracking-wider text-white transition-all duration-300 ease-in-out hover:from-indigo-700 hover:to-purple-800"
          >Free Guide</a
        >
      </div>
    </header>
  </Wrapper>
</div>
