---
import { Image } from 'astro:assets'
import { SITE_TITLE } from '../config'
import Link from './Link.astro'
import SocialLinks from './SocialLinks.astro'
import Wrapper from './Wrapper.astro'
import Hero from './dev-workflow-intro-guide/Hero.astro'
import profileCircle from '~/assets/joshmedeski-profile-circle.png'

const today = new Date()
interface Props {
  hideCta?: boolean
}
const { hideCta } = Astro.props
---

<!-- {hideCta ? null : <Hero />} -->
<footer
  class="bg-neutral-950 pt-16"
  aria-labelledby="footer-heading"
  id="menu"
  data-pagefind-ignore
>
  <h2 class="sr-only">Footer</h2>
  <Wrapper>
    <div
      class="flex flex-col items-center gap-12 md:flex-row md:items-start md:justify-center md:gap-16"
    >
      <div class="max-w-sm space-y-6">
        <div>
          <a href="/" class="flex items-center" data-astro-prefetch>
            <span class="text-2xl font-bold">{SITE_TITLE}</span>
          </a>
          <p class="text-base text-neutral-500">
            Empowering developers and creatives to build and grow with
            intention, by sharing insights and tools.
          </p>
        </div>

        <div>
          <h3 class="mb-3 font-bold">Follow me on social</h3>
          <div class="flex items-center gap-4">
            <Image
              src={profileCircle}
              alt="Josh's profile"
              width={40}
              height={40}
              class="w-10 shrink-0"
              loading="lazy"
            />
            <SocialLinks iconSize="h-6" />
          </div>
        </div>
      </div>

      <div>
        <h3 class="mb-3 font-bold">Content</h3>
        <ul class="space-y-2 text-neutral-400">
          <li><Link href="/posts">Posts</Link></li>
          <li><Link href="/videos">Videos</Link></li>
          <li><Link href="/projects">Projects</Link></li>
          <li><Link href="/guides">Guides</Link></li>
          <li><Link href="/categories">Categories</Link></li>
        </ul>
      </div>

      <div>
        <h3 class="mb-3 font-bold">Explore</h3>
        <ul class="space-y-2 text-neutral-400">
          <li><Link href="/about">About</Link></li>
          <li><Link href="/wallpapers">Wallpapers</Link></li>
          <li><Link href="/uses">Uses</Link></li>
          <li><Link href="/stats">Stats</Link></li>
          <li><Link href="/appearances">Appearances</Link></li>
        </ul>
      </div>
    </div>
    <div
      class="mx-auto mb-12 mt-10 max-w-screen-xl border-t border-neutral-800 pt-8 text-center"
    >
      <p class="text-base text-neutral-600 xl:text-center">
        &copy; {today.getFullYear()}{' '}
        {SITE_TITLE}. All rights reserved.
      </p>
    </div>
  </Wrapper>
</footer>
