---
import { SITE_TITLE } from "../config";
import HeaderLink from "./HeaderLink.astro";
import Wrapper from "./Wrapper.astro";
import clsx from "clsx";
import GitHubIcon from "./icons/GitHubIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import YouTubeIcon from "./icons/YouTubeIcon.astro";

export interface Props {
  themeColor?: string;
}
const props = Astro.props;
---

<div style={`background-color: ${props.themeColor || "white"}`}>
  <Wrapper>
    <header class="grid grid-cols-5 py-4">
      <h2 class="m-0">
        <a href="/" class="text-2xl font-bold">{SITE_TITLE}</a>
      </h2>

      <nav
        class="col-span-3 flex w-full items-center justify-center space-x-8 text-lg"
      >
        <HeaderLink href="/guides">Guides</HeaderLink>
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/videos">Videos</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </nav>

      <div class="flex items-center justify-end gap-4">
        <HeaderLink href="https://www.youtube.com/joshmedeski" target="_blank">
          <YouTubeIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://twitter.com/joshmedeski" target="_blank">
          <TwitterIcon class="w-6" />
        </HeaderLink>
        <HeaderLink href="https://github.com/joshmedeski" target="_blank">
          <GitHubIcon class="w-6" />
        </HeaderLink>
        <a
          href="/guides/pde-intro"
          class="inline-block rounded-lg bg-gradient-to-l from-indigo-500 to-purple-600 px-4 py-2 font-bold tracking-wider text-white transition-all duration-300 ease-in-out hover:from-indigo-700 hover:to-purple-800"
          >Free Guide</a
        >
      </div>
    </header>
  </Wrapper>
</div>
