---
import Head from "./LayoutHead.astro";
import Header from "./LayoutHeader.astro";
import Footer from "./LayoutFooter.astro";
import type { Props as HeadProps } from "./LayoutHead.astro";
interface Props extends HeadProps {}
const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head {...props} />
  <body class="min-h-screen flex flex-col justify-between">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
