---
import { SITE_TITLE } from "../config";
import HeaderLink from "./HeaderLink.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import YouTubeIcon from "./icons/YouTubeIcon.astro";
const today = new Date();
---

<footer>
  <nav
    id="menu"
    class="flex flex-wrap justify-center space-x-4 px-4 pt-20 pb-4"
  >
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="/categories">Categories</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://www.youtube.com/joshmedeski" target="_blank"
      ><YouTubeIcon class="w-6" />
    </HeaderLink>
    <HeaderLink href="https://twitter.com/joshmedeski" target="_blank">
      <TwitterIcon class="w-6" />
    </HeaderLink>
    <HeaderLink href="https://github.com/joshmedeski" target="_blank"
      ><GitHubIcon class="w-6" />
    </HeaderLink>
  </nav>

  <p class="px-4 text-center pb-4">
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </p>
</footer>
