---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "text-base text-gray-500 hover:text-gray-900",
    { "font-bold": isActive },
  ]}
  {...props}
>
  <slot />
</a>
