---
import type { CollectionEntry } from "astro:content";
import PostCard from "./post/PostCard.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}
const { posts } = Astro.props;
---

<section
  class="mb-32 grid items-stretch gap-4 sm:grid-cols-2 sm:gap-8"
>
  {posts.map((post) => <PostCard post={post} />)}
</section>
