---
import type { RankedPost } from '../utils/fathom'

interface Props {
  posts: RankedPost[]
}

const { posts } = Astro.props
const format = new Intl.NumberFormat('en-US')
---

<ol class="mb-32 flex flex-col gap-2">
  {
    posts.map(({ post, pageviews }, index) => (
      <li class="flex items-baseline gap-4">
        <span class="tabular-nums text-neutral-500">{index + 1}</span>
        <a class="flex-1 hover:underline" href={`/posts/${post.id}`}>
          {post.data.title}
        </a>
        <span class="tabular-nums text-neutral-500">
          {format.format(pageviews)}
        </span>
      </li>
    ))
  }
</ol>
