---
import PostCard from "../components/PostCard.astro";
import type { BlogPostFrontmatter } from "../layouts/BlogPost.astro";
import PostHero from "./PostHero.astro";
const isProd = import.meta.env.PROD;
const posts = (await Astro.glob<BlogPostFrontmatter>("../pages/posts/*.mdx"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter(({ frontmatter: { draft } }) => (isProd ? !draft : true))
  .slice(0, 4);
---

<PostHero {...posts[0]} />

<section class="bg-neutral-50 px-4 py-12">
  <div class="mx-auto max-w-screen-xl">
    <section class="grid md:grid-cols-3 gap-8">
      {posts.slice(1, posts.length).map((post) => <PostCard {...post} />)}
    </section>
  </div>
</section>
