---
import type { Post } from "../models/Post.astro";
import PostCard from "./post/PostCard.astro";
import PostHero from "./post/PostHero.astro";

const posts = (await Astro.glob<Post>("../pages/posts/*.mdx"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter(({ frontmatter: { draft } }) => !draft);

const recentPosts = posts.slice(0, 5);
---

<PostHero {...recentPosts[0]} />
<section class="bg-neutral-50 px-4 py-12">
  <div class="mx-auto max-w-screen-2xl">
    <section class="grid md:grid-cols-4 gap-8">
      {
        recentPosts
          .slice(1, recentPosts.length)
          .map((post) => <PostCard {...post} />)
      }
    </section>
  </div>
</section>
