---
import PostCard from "./post/PostCard.astro";
import { getCollection } from "astro:content";
import Wrapper from "./Wrapper.astro";
import PageTitle from "./PageTitle.astro";

const allPosts = await getCollection("posts", ({ data: { draft } }) => !draft);
const sortedPosts = allPosts.sort(
  ({ data: a }, { data: b }) => b.pubDate.getTime() - a.pubDate.getTime()
);
const recentPosts = sortedPosts.slice(0, 4);
---

<Wrapper>
  <PageTitle>Recent Posts</PageTitle>
  <section class="grid items-stretch gap-4 sm:grid-cols-2 sm:gap-8">
    {recentPosts.map((post) => <PostCard post={post} />)}
  </section>
  <a
    href="/posts"
    class="mb-24 mt-8 block text-center text-xl text-primary-500 underline"
    >View all posts</a
  >
</Wrapper>
