---
import PostCard from "../components/PostCard.astro";
import type { BlogPostFrontmatter } from "../layouts/BlogPost.astro";
const posts = (await Astro.glob<BlogPostFrontmatter>("../pages/posts/*.mdx"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 6);
---

<section class="bg-slate-100 px-4 py-12">
  <div class="mx-auto max-w-screen-lg">
    <div class="flex justify-between">
      <h2 class="font-bold text-3xl mb-4">Recent Posts</h2>
      <a href="/posts" class="text-blue-500 hover:text-blue-700"
        >View all posts</a
      >
    </div>
    <section class="grid md:grid-cols-3 gap-4">
      {posts.map((post) => <PostCard {...post} />)}
    </section>
  </div>
</section>
