---
import Search from 'astro-pagefind/components/Search'
---

<section class="max-w-lg mx-auto mb-6 pagefind-ui custom-pagefind-ui">
<Search id="search" uiOptions={{ showImages: false }} />
</section>
